services:
  web:
    build: .
    container_name: voice_chat
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 3G

    volumes:
      - ./frontend:/app/frontend
      - ./static:/app/static
